<?xml version="1.0"?>
<launch>

	<node pkg="cob_base_placement" type="placement_wrt_workspace_service_server" name="cob_base_placement_wrt_workspace_ss" ns="cob_base_placement" respawn="false" output="screen" /> 
	<node pkg="cob_base_placement" type="placement_wrt_workspace_action_server" name="cob_base_placement_wrt_workspace_as" ns="cob_base_placement" respawn="false" output="screen" /> 

</launch>

